@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --color-1: #b85042;
  --color-2: #e7e8d1;
  --color-3: #a7beae;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: var(--color-3);
  color: var(--color-1);
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: var(--color-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo {
  font-size: 25px;
  color: var(--color-1);
  text-decoration: none;
}
.navbar a {
  font-size: 18px;
  color: var(--color-1);
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
}
.navbar a.active,
.navbar a:hover {
  background: linear-gradient(45deg, #a7beae, #b85042, #e7e8d1);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.accueil {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 10%;
}
.accueil-content h1 {
  font-size: 56px;
  font-weight: 700;
}
.accueil-content h3 {
  font-size: 32px;
  font-weight: 700;
}
.accueil-content p {
  font-size: 16px;
}
