@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --color-1: #b85042;
  --color-2: #e7e8d1;
  --color-3: #a7beae;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: var(--color-3);
  /* color: var(--color-1); */
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: var(--color-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo {
  font-size: 25px;
  color: var(--color-1);
  text-decoration: none;
  font-weight: 600;
  pointer-events: none;
  animation: slideTop 1s ease forwards;
}
.navbar a {
  display: inline-block;
  font-size: 18px;
  color: var(--color-1);
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}
.navbar a.active,
.navbar a:hover {
  background: linear-gradient(45deg, #a7beae, #b85042, #e7e8d1);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.accueil {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 10% 0;
}
.accueil-content {
  max-width: 500px;
  margin-left: -30px;
}

.accueil-content h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 0.7s;
  color: #b85042;
}

.accueil-content h3 {
  font-size: 32px;
  font-weight: 700;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
  color: var(--color-2);
}
.accueil-content p {
  font-size: 16px;
  margin: 20px 0 40px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1.3s;
  color: var(--color-1);
  font-size: 20px;
}

.btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 48px;
  background: var(--color-1);
  border-radius: 40px;
  font-size: 19px;
  color: var(--color-2);
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 1.8s;
}
.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  background: linear-gradient(45deg, #a7beae, #b85042, #e7e8d1);
  background-size: 200%;
  background-position: 0 0;
  z-index: -1;
  border-radius: 40px;
  filter: blur(5px);
  transition: 0.5s ease;
}
.btn:hover:before {
  background-position: 100% 0;
}
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  background: linear-gradient(45deg, #a7beae, #b85042, #e7e8d1);
  z-index: -1;
  border-radius: 40px;
  background-size: 200%;
  transition: 0.5s ease;
}
.btn:hover:after {
  background-position: 100% 0;
}
.accueil-sci a {
  position: relative;
  /* afficher en horizontal */
  display: flex;
  /* centrer les logos */
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: linear-gradient(45deg, #a7beae, #b85042, #e7e8d1);
  border-radius: 50%;
  font-size: 20px;
  color: #e7e8d1;
  text-decoration: none;
  /* decaler les logos du reseaux */
  margin: 20px 0;
  z-index: 1;
}
.accueil-sci a:nth-child(1) {
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 2.5s;
}
.accueil-sci a:nth-child(2) {
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 2s;
}
.accueil-sci a:nth-child(3) {
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
}
.accueil-sci a:nth-child(4) {
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2.5s;
}
.accueil-sci a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #a7beae, #b85042, #e7e8d1);
  border-radius: 50%;
  z-index: -1;
  transition: 0.5s ease;
}
.accueil-sci a:hover::before {
  filter: blur(5px);
}

.accueil-sci a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--color-3);
  border-radius: 50%;
  transform: scale(0.88);
  z-index: -1;
  transition: 0.5s ease;
}
.accueil-sci a:hover::after {
  transform: scale(0);
}

.accueil-img {
  width: 410px;
  height: 410px;
  opacity: 0;
  animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
  animation-delay: 2.1s, 3.1s;
}

.accueil-img .glowing-circle {
  width: 100%;
  height: 100%;
  background: #b85042;
  background: linear-gradient(#b85042, #e7e8d1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.accueil-img .glowing-circle::after {
  content: "";
  position: absolute;
  width: 380px;
  height: 380px;
  background: #a7beae;
  border-radius: 50%;
}
.glowing-circle span {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#b85042, #e7e8d1, #a7beae);
  border-radius: 50%;
  animation: circleRotate 5s linear infinite;
}

.glowing-circle .image {
  position: relative;
  width: 380px;
  height: 380px;
  background: #a7beae;
  border-radius: 50%;
  z-index: 1;
  overflow: hidden;
}

.image img {
  position: absolute;
  top: 10px;
  left: 53%;
  transform: translateX(-50%);
  height: 500px;
  min-width: 350px;
  object-fit: cover;
}

/* @keyframes animation*/
@keyframes slideTop {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideBottom {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes floatImage {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-24px);
  }

  100% {
    transform: translateY(0);
  }
}
@keyframes circleRotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* media queries */
